* {
	font: 13px/22px normal Arial, sans-serif;
}

body {
	padding: 40px;
	max-width: 600px;
}

input {
	box-sizing: border-box;
	border: 1px solid #ccc;
	height: 30px;
	padding: 10px;
}

input.loading {
	background: url(http://www.xiconeditor.com/image/icons/loading.gif) no-repeat right center;
	background-size:30px;
}
